.container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
}

.header h5 {
    color: #5863E3;
    font-size: 17px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 57px;
}
p{
    display: flex;
    width: 226px;
    height: 20px;
    margin-left: 100px;
}

.header h2 {
    color: #000;
    font-size: 49px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 371px;
    margin-top: 7px;
}

.form-container {
    margin-top: 57px;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

textarea {
    width: 756px;
    height: 298px;
    border: 2px solid rgba(212, 211, 211, 0.30);
    background: #F8F8F8;
    padding: 23px 21px;
    box-sizing: border-box;
}

input[type="text"] {
    width: 100%;
    height: 59px;
    border: 2px solid rgba(212, 211, 211, 0.30);
    background: #F8F8F8;
    margin-bottom: 20px;
    padding: 21px 19px;
    box-sizing: border-box;
    margin-left: 20px;
}

input[type=submit]{
    width: 100%;
    height: 59px;
    border: 2px solid #5968F4;
    background: #5968F4;
    color: #FBFBFF;
    font-size: 14px;
    font-weight: 700;
    margin-left: 20px;
}

.inputs {
    width: 370px;
}

.icon {
    height: 68px;
    width: 68px;
    border-radius: 50%;
    background: #5968F4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-envelope {
    font-size: 38px;
    color: #344188;
}

.fa-phone {
    font-size: 38px;
    color: #344188;
}

.fa-location-dot {
    font-size: 38px;
    color: #344188;
}


.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 51px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact h3 {
    color: #4E4D54;
    font-size: 20px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contact p {
    color: #99999A;
    font-size: 15px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sec-2 {
    margin-top: 100px;
}

.sec-2 h2{
    width: 548px;
}

.images {
    display: flex;
    justify-content: space-around;
    margin-top: 53px;
    margin-bottom: 100px;
}
.footer{
    display: flex;
    background-color: #000;
    width: 100%;
    height: 372px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.big-container{
    display: flex;
    width: 1450px;
    height: 372px;
    background-color: #000000;
    margin-top: 39px;
 }
h6{
    margin-top: 28px;
    color:  rgba(78, 77, 84, 1);
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
 }
 h4{
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 23px;
    margin-left: 143px;
    color:  rgba(153, 153, 154, 1);
    width: 295px;
    height: 80px;
}
.fb{
    width: 46px;
    height: 46px;
    margin-top:23px ;
    margin-left: 139px;
}
.twiter{
    width: 46px;
    height: 46px;
    margin-left: 7px;
}
.h2h{
    margin-top: 32px;
    width: 38px;
    height: 19px;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color:  rgba(88, 99, 227, 1);
    margin-left: 143px;
}
.h3h{
    margin-top: 10px;
    width: 125px;
    height: 19px;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color:  rgba(88, 99, 227, 1);
    margin-left: 143px;
}
.logoimage{
    display:  inline-block;
    width: 21px;
    height: 15px;
    margin-top:36px;
    margin-left: 118px;

}
.logoimage1{ 
    width: 27px;
    height: 22px;
    margin-top: 15px;
    margin-left: 114px;
}
h5{
    display: inline-block;
    color: white;
    width: 213px;
    height: 19px;
    margin-left: 16px;
}
h1{
    margin-left: 143px;
    margin-top: 63px;
    width: 155px;
    height: 30px;
    font-family: Helvetica;
   font-size: 26px;
   font-weight: 700;
    line-height: 30px;
    color: white;



}